<html>

   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>

   <body>
      <p>
         Hi,<br/>

      </p>

      <p>
         This ticket has been updated. Click here to check the status:s
         <%= link_to "ticket", ticket_url(@ticket.id) %>.
      </p>

      <p>Thanks for joining and have a great day!</p>

   </body>
</html>